.container {
  min-height: 100vh;
  padding: 0 2rem;
  background: linear-gradient(315deg, #dbeafe 0%, #fbcfe8 100%)
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.img {
  width: 40%;
  height: auto;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .img {
    width: 60%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
